.echipa-echipelor__imagine {
  width: 256px;
  height: 256px;
  border-radius: 50%;
  border: 0.2rem solid $color-white;
  background-position: center center;
  margin: 1rem;
}

.echipa-echipelor {
  background-color: $color-elephant;

  @extend %sectiune-smechera;
  position: relative;

  // &::after {
  //   content: '';
  //   position: absolute;
  //   bottom: -45px;
  //   right: 0;
  //   width: 120%;
  //   background-color: $color-flamingo;
  //   height: 45px;
  //   clip-path: polygon(0 0, 0 100%, 100% 0);
  // }
}

.echipa-echipelor__titlu {
  @extend %mega-ultra__titlu;
}