.super {
  background-color: $color-chateau-green;

  @extend %sectiune-smechera;
}

.super__titlu {
  @extend %mega-ultra__titlu;
}

.super__descriere {
  text-indent: 1rem;
  text-align: justify;
  font-size: 1.2rem;
}