.teasta {
  background-color: $color-flamingo;
  
  @extend %sectiune-smechera;
}

.teasta__titlu {
  color: $color-white;
  text-align: center;
  padding: 1rem 0;
  // border: 1px dashed white;
}

.teasta__descriere {
  text-indent: 1rem;
  text-align: justify;
  font-size: 1.2rem;
}