.teasta {
  background-color: $color-flamingo;
  
  @extend %sectiune-smechera;
}

.teasta__titlu {
  @extend %mega-ultra__titlu;
}

.teasta__descriere {
  text-indent: 1rem;
  text-align: justify;
  font-size: 1.2rem;
}